@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F9FBFD;
}
// General Styles
h1 {
  margin: 0;
}

// Header Styles
.header {
  text-transform: uppercase;
  background-color: #fff;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: .5em;
  font-size: 2rem;
}

input {
  font-size: .9375rem;
  color: rgba(0, 0, 0, 0.78)
}
//design
.design {
  border-bottom: 1px solid #E0E0E0;

  &:last-of-type {
    border-bottom: none;
  }
  &__input {
    // allow user to see px in Design Component
    background-color: transparent;
  }
}

// Task Styles
.task {
  transition-property: border, box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;

  & svg:hover.delete-disabled{
    cursor: auto;
  }
}


// Styles for the Menu
.menu {
  position: fixed;
  top: 60px;
  right: 0;
  height: 100%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14);
  z-index: 4;
  // temporary till figure out in ant
  transform: translateX(100%);
  transition: .3s ease-in-out;

  &.active {
    transform: translateX(0);
  }
}

// Styles for Tab sections
.input-box {
  position: relative;
  font-size: 0.9375rem;
  margin-bottom: 1.5em;

  &__label {
   
    display: inline-block;
    padding-bottom: .54em;
    // 500 but 400 looks closer to the mock up
    font-weight: 500;
    color: #4F4F4F;
    line-height: 17.24px;
    text-transform: capitalize;
  }
  
  &__pixel {
    position: absolute;
    bottom: .5em;
    z-index: -1;
  }

  // for resize bottom right Textarea
  &__text-area-wrapper {
    position: relative;
    overflow: hidden;
    & > textarea {
      min-height: 115px;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 20;
      transform: rotate(135deg);
      transform-origin: center;
      background-color: #BDBDBD;
      height: 1px;
    }

    &::before {
      width: 3%;
      bottom: .9em;
      right: .6em;
    }

    &::after {
      width: 1%;
      bottom: .75em; 
      right: .68em;
    }
  }
}

//  -------------
.pallet {
  position: relative;
  height: 40px;
  width: 40px;
  border: 4px solid #E0E0E0 ;
  border-radius: 4px;
  cursor: pointer;
  
  &__picker {
    position: absolute;
    display: none;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
  
//Selector for the pallet
    &.display {
      display: block;
      z-index: 15;
    }
  }

}

//Override ant default styles
.ant-tabs-tab {
  width: 175px;

  & > [role=tab] {
    margin: 0 auto;
  }

  &.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:#4F4F4F;
  }
}

.ant-tabs-tab {
  margin: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// remove resizer but still able to resize
::-webkit-resizer {
  display: none;
}



::-webkit-input-placeholder
// ::-moz-placeholder,
// :-ms-input-placeholder,
{ /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.48) !important;
}